{{! -------------------------------------------------------------------------- }}
{{! Copyright 2002-2017, OpenNebula Project, OpenNebula Systems                }}
{{!                                                                            }}
{{! Licensed under the Apache License, Version 2.0 (the "License"); you may    }}
{{! not use this file except in compliance with the License. You may obtain    }}
{{! a copy of the License at                                                   }}
{{!                                                                            }}
{{! http://www.apache.org/licenses/LICENSE-2.0                                 }}
{{!                                                                            }}
{{! Unless required by applicable law or agreed to in writing, software        }}
{{! distributed under the License is distributed on an "AS IS" BASIS,          }}
{{! WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.   }}
{{! See the License for the specific language governing permissions and        }}
{{! limitations under the License.                                             }}
{{! -------------------------------------------------------------------------- }}

<div id="{{dialogId}}" class="reveal small" data-reveal>
  <div class="row">
  <div class="small-12 columns"><span style="font-weight: bold; font-size: 15px;">Reinstall тест описания</div>
  <div class="small-12 columns">
    <div id="provision_vm_instantiate_templates_table_wrapper" class="dataTables_wrapper dt-foundation no-footer">
    <table id="provision_vm_instantiate_templates_table" class="dataTable no-footer" role="grid">
    <div id="provision_vm_instantiate_templates_ul" class="row large-up-4 medium-up-3 small-up-1 listos">
    <div class="column"></div>
    </div></table></div>
  </div>
  <div class="div_reinstall inputuser" style="display: none;">
  <span style="">Введите логин главного пользователя (root)</span><br>
    Username <input id='user_vm' class="reinstallinput" type="text" >
  </div>
  <div class="div_reinstall unputpass" style="display: none;">
  <span style="">Введите пароль</span><br>
    Password <input id='pass_vm' class="reinstallinput" type="password">
  </div>
  <div class="alert"><span class="large-12 columns colorred" style="color:red"> ВНИМАНИЕ!!!! При переустановке что то происходит!!! (заменить) </span></div>
  <div class="large-3 medium-6 columns">
        <button class="button success expanded" type="submit">Reinstall</button>
        </div>

  </div>
</div>
