<main>
<body>
<div class="row" id="provision_vms_dashboard">
    <div class="large-12 columns">
        <div class="row" style="text-align: center;margin-bottom: 10px;margin-top: 10px;">
            <img src="images/opennebula-5.0.png" style="width: 30%;text-align: center;">
            <h6 style="text-align: center;font-size: 35px;color: red;">ВНИМАНИЕ!</h6>
            <p style="text-align: center; font-size: 25px; color:#000;">Ведутся технические работы.</p>
            <p style="text-align: center; font-size: 25px; color:#000;">Сервис временно недоступен.</p>
        </div>
    </div>
</div>
</body>
<main>